@page
@model laba1.Pages.WebResources.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WebPage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.URL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.URL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.Keywords)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.Keywords)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WebPage.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
